@{
    ViewBag.Title = "What does this application do?";
}
<h2>@ViewBag.Title</h2>

<h4><strong>Trinity's Library</strong> is a MVC web application that allows users of all ages to acess and contrube to a collection of fantastic books that have been recommended by Trinity or other members to read. </h4>
<h4>If you want to look for a certain book, you can use you the search box that is connected to the Goodreads database!</h4>
<h4>If you stumble upon a book you haven't read before, search for it in the search box, click on the link to the left of the desired book, and feel free to buy it from Amazon!</h4>
