@{
    ViewBag.Title = "What does this application do?";
}
<h2>@ViewBag.Title</h2>

<p><strong>Trinity's Library </strong> is a MVC web application that allows users of all ages to acess and contrube to a collection of fantastic books that have been recommended by the authors or others to read. </p>
<p>If you want to look for a certain book, you can use you search box that is connected to the Goodreads!</p>
<p>Stumble upon a book that you haven't read before? Search for it in the search box, click on the link to the left of the desired book, and feel free to buy it from Amazon!</p>
