<div class="jumbotron">
    <h1>Trinity's Library</h1>
    <p class="lead">Gain access to a collection of Trinity's favorite books that have made a significant impact on her life!</p>
    <p> Members will be able to add and contribute to the library as well!</p>
    <p><a href="http://localhost:54922/Account/Register" class="btn btn-success btn-lg">Create an account here &raquo;</a></p>
</div>

